---
layout: default
---

<div class="posts">
<h1 style="font-size: 1.75em;"> Welcome! </h1>
<p> The primary function of this site is to be a place to talk more in depth about the projects or code that is on my <a href="https://github.com/connormurray7">github</a>. The projects on here are going to mostly consist of C++, Python, Swift, and linux/shell.
<br/>

  <h2>Posts</h2><br/>
  {% for post in site.tags.post %}
    <article class="post">
      <span class="small" style="width: 120px; display: inline-block">{{ post.date | date: '%B %d, %Y'}}</span><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </article>
  {% endfor %}

  <h2>Weekly Updates</h2><br/>
  {% for post in site.tags.update %}
    <article class="post">
      <span class="small" style="width: 120px; display: inline-block">{{ post.date | date: '%B %d, %Y'}}</span><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </article>
  {% endfor %}

  <h2>Project Posts</h2><br/>
  {% for post in site.tags.project %}
    <article class="post">
        <span class="small" style="width: 120px; display: inline-block">{{ post.date | date: '%B %d, %Y'}}</span><a href="{{ site.baseurl }}{{ post.url }}">  {{ post.title }}</a>
    </article>
  {% endfor %}
</div>
